<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Safe Railway Test Suite">
    <test name="All Tests">
        <classes>
            <class name="testcases.LoginTest"/>
            <class name="testcases.RegisterTest"/>
            <class name="testcases.BookTicketTest"/>
            <class name="testcases.MyTicketTest"/>
            <class name="testcases.ChangePasswordTest"/>
            <class name="testcases.ForgotPasswordTest"/>
        </classes>
    </test>
</suite>